* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

.logo {
    float: left;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.nav-item {
    float: right;
    display: inline-block;
    padding: 1em;
    border-left: 2px solid grey;
    text-decoration: none;
    color: black;
}

.nav {
    float: right;
}

.middle {
    margin-top: 10px;
    margin-bottom: 200px;
}

.mice {
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #848487;
    color: white;
}

.footnav-item {
    display: inline-block;
    padding: .5em 1em;
    text-align: center;
}

.copyright {
    text-align: center;
}

a:hover {
    background-color: cornflowerblue;
}

.footnav a:hover {
    color: white;
    text-decoration-color: white;
}