.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
}

ul {
    margin-right: 0;
}

h1 {
    text-align: center;
    background-color: white;
}

.jumbotron>.container {
    padding: 0;
    opacity: 50%;
}

hr {
    width: 100%;
}

.footer-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

/*.group-button {*/
/*    margin-left: auto;*/
/*    flex-grow: 0;*/
/*}*/
