body {
    min-height: 100vh;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
}



footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100%;
    padding: 0;
    margin-top: auto;
}

.footerRowContainerTop {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footerRowContainerBottom {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

hr {
    margin: auto 25px;
}

.otherContainer {
    display: flex;
    justify-content: space-between;
}

.footerColumn {
    padding: 50px 25px;
}

.footerSocialContainer {

}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoColumn {
    padding: 0 25px;
    font-size: 50px;
}

.iconBox {
    display: flex;
    justify-content: space-between;
}

.footerColumn > p {
    margin: 0;
}

.iconBox > i {
    font-size: 25px;
}

.copyrightBox > p {
    font-size: small;
}