body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    --text-info: #4f4ba3;
    --bg-info: #cddeff;
    color: var(--text-info);
    background-color: var(--bg-info);
}

.message-success {
    --text-success: #4a966a;
    --bg-success: #cff3da;
    color: var(--text-success);
    background-color: var(--bg-success);
}

.message-warning {
    --text-warning: #9f903b;
    --bg-warning: #fcfbc9;
    color: var(--text-warning);
    background-color: var(--bg-warning);
}

.message-error {
    --text-error: #994157;
    --bg-error: #fad3d7;
    color: var(--text-error);
    background-color: var(--bg-error);
}

div {
    border-width: 1px;
    border-color: lightgray;
    border-radius: 6px;
    margin: 0.5em;
    width: 50%;
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;

}